@import "media-queries";

.benefits {
  padding: 2.9rem 7rem;
  display: flex;
  align-items: center;
  @include mobile {
    padding: 4rem 1.5rem 2.3rem;
  }

  .left {
    flex-basis: 50%;
    img {
      @include tablet {
        max-width: 36.5rem;
      }
    }
    @include mobile {
      display: none;
    }
  }

  .right {
    flex-basis: 50%;
    @include mobile {
      flex-basis: initial;
    }

    .right-content {
      max-width: 52.2rem;

      .title-benefits {
        font-size: 4.8rem;
        font-weight: 600;
        @include tablet {
          font-size: 3.2rem;
        }
        @include mobile {
          font-size: 3.6rem;
          margin: 0;
        }
      }

      .info-text {
        font-size: 2rem;
        font-weight: 400;
      }

      ul {
        padding: 0;
        li {
          list-style: none;
          font-size: 2rem;
          font-weight: 400;
          display: flex;

          img {
            margin-right: 1.7rem;
          }

          p {
            margin: 1.6rem 0;
          }
        }
      }
    }
  }
}
